<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 扫描web包 -->
	<context:component-scan base-package="com.dbs.controller"></context:component-scan>
	<mvc:annotation-driven/>
	
	<!-- jsp配置视图解析器，将ModelAndView及字符串解析为具体的页面 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		  p:prefix="/"    
		  p:suffix=".html"/>
		  
	<!-- 方法1  配置的静态文件处理  配置静态资源访问路径  -->
	<mvc:resources location="/" mapping="/*.html"></mvc:resources>
	
	<!-- 方法2 配置的静态文件处理   默认的Servlet请求处理器:org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler; 
		对URL进行检查然后把静态资源交给Web服务器默认的Servlet处理		-->
	<mvc:default-servlet-handler />
		  
	<!-- 配置拦截器 -->
	<!--<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.dbs.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>  -->
	
</beans>

